<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>TaskMaster</title>
  </head>
  <body>
    <header class="fade-in">
      <div class="header fade-in">
        <img
          src="/static/images/logo-for-todolist-website-with-name--taskmaster--c__1_-removebg-preview.png"
          alt="logo"
          class="fade-in"
        />

        <div class="header-right fade-in">
          <a href="/subscriptions" class="nav fade-in">Subscriptions</a>
          <div class="line fade-in"></div>
          <a href="/login" class="nav fade-in">Log in</a>
          <a href="/registration" class="registration-first fade-in"
            >Registration</a
          >
        </div>
      </div>
    </header>

    <main class="main fade-in">
      <h1 class="fade-in">Organize your work and life</h1>
      <a href="/registration" class="registration-second fade-in"
        >Get Started</a
      >
    </main>
  </body>
</html>
