<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Log in</title>
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        <p>
          <label for="id_username">Username:</label>
          {{ form.username }}
        </p>
        <p>
          <label for="id_password">Password:</label>
          {{ form.password }}
        </p>
        <p>
          <a class="button" href="/task_list">Login</a>
        </p>
      </form>
    </div>
  </body>
</html>
