<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/subscriptions.css" />
    <title>TaskMaster Subscriptions</title>
  </head>
  <body>
    <header class="fade-in">
      <div class="header fade-in">
        <img
          src="/static/images/logo-for-todolist-website-with-name--taskmaster--c__1_-removebg-preview.png"
          alt="logo"
          class="fade-in"
        />

        <div class="header-right fade-in">
          <button class="back-button">Back</button>
        </div>
      </div>
    </header>

    <main class="main fade-in">
      <div class="pricing-header text-center">
        <h1 class="display-4">Pricing</h1>
      </div>
      <div class="pricing-table">
        <div class="pricing-card">
          <div class="card-header">
            <h4>Bronze</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title">0<small> Rubins</small></h1>
            <ul>
              <li>Basic Features Todo List</li>
            </ul>
            <button class="buy-button">Buy Bronze</button>
          </div>
        </div>
        <div class="pricing-card">
          <div class="card-header">
            <h4>Silver</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title">100<small> Rubins</small></h1>
            <ul>
              <li>All Bronze Features</li>
              <li>Divide tasks into categories</li>
              <li>Interface change</li>
            </ul>
            <button class="buy-button">Buy Silver</button>
          </div>
        </div>
        <div class="pricing-card">
          <div class="card-header">
            <h4>Gold</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title">300<small> Rubins</small></h1>
            <ul>
              <li>All Silver Features</li>
              <li>Task execution statistics</li>
            </ul>
            <button class="buy-button">Buy Gold</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
